.bg-image {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-image2 {
  background-image: url(/img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-darkblue {
  background: #181E41;
}

.bg-white {
  background: white;
}

.bg-black {
  background: black;
}

.bg-purple {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
}

.bg-halfpurple {
  background: linear-gradient(214.02deg, rgba(183, 92, 255, 0.5) 6.04%, rgba(103, 26, 228, 0.5) 92.95%);
}

.black {
  color: black;
}

.white {
  color: white;
}

.lightpurple {
  color: #9F39DA;
}

.halfwhite {
  color: rgba(255, 255, 255, 0.5);
}

.halfblack {
  color: rgba(0, 0, 0, 0.5);
}

.quarterwhite {
  color: rgba(255, 255, 255, 0.25);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  color: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  font-family: "Poppins", sans-serif;
}

.font2 {
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 414px) {
  body {
    font-size: 50%;
  }
}
h1,
h2,
h3 {
  margin: 0;
  line-height: 120%;
}

p,
h4,
h5 {
  margin: 0;
  line-height: 180%;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.ta-justify {
  text-align: justify;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overhidden {
  overflow: hidden;
}

[class^=col] {
  margin: 0 1.5%;
}

.col1 {
  width: 5.3333333333%;
}

.col2 {
  width: 13.6666666667%;
}

.col3 {
  width: 22%;
}

.col4 {
  width: 30.3333333333%;
}

.col5 {
  width: 38.6666666667%;
}

.col6 {
  width: 47%;
}

.col7 {
  width: 55.3333333333%;
}

.col8 {
  width: 63.6666666667%;
}

.col9 {
  width: 72%;
}

.col10 {
  width: 80.3333333333%;
}

.col11 {
  width: 88.6666666667%;
}

.col12 {
  width: 97%;
}

.nmcol1 {
  width: 8.3333333333%;
}

.nmcol2 {
  width: 16.6666666667%;
}

.nmcol3 {
  width: 25%;
}

.nmcol4 {
  width: 33.3333333333%;
}

.nmcol5 {
  width: 41.6666666667%;
}

.nmcol6 {
  width: 50%;
}

.nmcol7 {
  width: 58.3333333333%;
}

.nmcol8 {
  width: 66.6666666667%;
}

.nmcol9 {
  width: 75%;
}

.nmcol10 {
  width: 83.3333333333%;
}

.nmcol11 {
  width: 91.6666666667%;
}

.nmcol12 {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .col1-md {
    width: calc(8.3333333333% - 3%);
  }
  .col2-md {
    width: calc(16.6666666667% - 3%);
  }
  .col3-md {
    width: calc(25% - 3%);
  }
  .col4-md {
    width: calc(33.3333333333% - 3%);
  }
  .col5-md {
    width: calc(41.6666666667% - 3%);
  }
  .col6-md {
    width: calc(50% - 3%);
  }
  .col7-md {
    width: calc(58.3333333333% - 3%);
  }
  .col8-md {
    width: calc(66.6666666667% - 3%);
  }
  .col9-md {
    width: calc(75% - 3%);
  }
  .col10-md {
    width: calc(83.3333333333% - 3%);
  }
  .col11-md {
    width: calc(91.6666666667% - 3%);
  }
  .col12-md {
    width: calc(100% - 3%);
  }
  .nmcol1-md {
    width: 8.3333333333%;
  }
  .nmcol2-md {
    width: 16.6666666667%;
  }
  .nmcol3-md {
    width: 25%;
  }
  .nmcol4-md {
    width: 33.3333333333%;
  }
  .nmcol5-md {
    width: 41.6666666667%;
  }
  .nmcol6-md {
    width: 50%;
  }
  .nmcol7-md {
    width: 58.3333333333%;
  }
  .nmcol8-md {
    width: 66.6666666667%;
  }
  .nmcol9-md {
    width: 75%;
  }
  .nmcol10-md {
    width: 83.3333333333%;
  }
  .nmcol11-md {
    width: 91.6666666667%;
  }
  .nmcol12-md {
    width: 100%;
  }
  .col-reverse-md {
    flex-direction: column-reverse;
  }
  .flexcol-md {
    flex-direction: column;
  }
  .jc-center-md {
    justify-content: center;
  }
  .jc-between-md {
    justify-content: space-between;
  }
  .jc-around-md {
    justify-content: space-around;
  }
  .jc-evenly-md {
    justify-content: space-evenly;
  }
  .ai-center-md {
    align-items: center;
  }
  .ta-center-md {
    text-align: center;
  }
  .ta-right-md {
    text-align: right;
  }
  .ta-justify-md {
    text-align: justify;
  }
  .flex-md {
    display: flex;
  }
  .none-md {
    display: none;
  }
  .flex-md {
    display: flex;
  }
  .none-md {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .col1-s {
    width: 5.3333333333%;
  }
  .col2-s {
    width: 13.6666666667%;
  }
  .col3-s {
    width: 22%;
  }
  .col4-s {
    width: 30.3333333333%;
  }
  .col5-s {
    width: 38.6666666667%;
  }
  .col6-s {
    width: 47%;
  }
  .col7-s {
    width: 55.3333333333%;
  }
  .col8-s {
    width: 63.6666666667%;
  }
  .col9-s {
    width: 72%;
  }
  .col10-s {
    width: 80.3333333333%;
  }
  .col11-s {
    width: 88.6666666667%;
  }
  .col12-s {
    width: 97%;
  }
  .nmcol1-s {
    width: 8.3333333333%;
  }
  .nmcol2-s {
    width: 16.6666666667%;
  }
  .nmcol3-s {
    width: 25%;
  }
  .nmcol4-s {
    width: 33.3333333333%;
  }
  .nmcol5-s {
    width: 41.6666666667%;
  }
  .nmcol6-s {
    width: 50%;
  }
  .nmcol7-s {
    width: 58.3333333333%;
  }
  .nmcol8-s {
    width: 66.6666666667%;
  }
  .nmcol9-s {
    width: 75%;
  }
  .nmcol10-s {
    width: 83.3333333333%;
  }
  .nmcol11-s {
    width: 91.6666666667%;
  }
  .nmcol12-s {
    width: 100%;
  }
  .col-reverse-s {
    flex-direction: column-reverse;
  }
  .flexcol-s {
    flex-direction: column;
  }
  .jc-center-s {
    justify-content: center;
  }
  .jc-between-s {
    justify-content: space-between;
  }
  .jc-around-s {
    justify-content: space-around;
  }
  .jc-evenly-s {
    justify-content: space-evenly;
  }
  .ai-center-s {
    align-items: center;
  }
  .ta-center-s {
    text-align: center;
  }
  .ta-right-s {
    text-align: right;
  }
  .ta-justify-s {
    text-align: justify;
  }
  .flex-s {
    display: flex;
  }
  .none-s {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  [class^=col] {
    width: 100%;
  }
  [class^=nmcol] {
    width: 100%;
  }
  .col1-xs {
    width: 5.3333333333%;
  }
  .col2-xs {
    width: 13.6666666667%;
  }
  .col3-xs {
    width: 22%;
  }
  .col4-xs {
    width: 30.3333333333%;
  }
  .col5-xs {
    width: 38.6666666667%;
  }
  .col6-xs {
    width: 47%;
  }
  .col7-xs {
    width: 55.3333333333%;
  }
  .col8-xs {
    width: 63.6666666667%;
  }
  .col9-xs {
    width: 72%;
  }
  .col10-xs {
    width: 80.3333333333%;
  }
  .col11-xs {
    width: 88.6666666667%;
  }
  .col12-xs {
    width: 97%;
  }
  .nmcol1-xs {
    width: 8.3333333333%;
  }
  .nmcol2-xs {
    width: 16.6666666667%;
  }
  .nmcol3-xs {
    width: 25%;
  }
  .nmcol4-xs {
    width: 33.3333333333%;
  }
  .nmcol5-xs {
    width: 41.6666666667%;
  }
  .nmcol6-xs {
    width: 50%;
  }
  .nmcol7-xs {
    width: 58.3333333333%;
  }
  .nmcol8-xs {
    width: 66.6666666667%;
  }
  .nmcol9-xs {
    width: 75%;
  }
  .nmcol10-xs {
    width: 83.3333333333%;
  }
  .nmcol11-xs {
    width: 91.6666666667%;
  }
  .nmcol12-xs {
    width: 100%;
  }
  .col-reverse-xs {
    flex-direction: column-reverse;
  }
  .flexcol-xs {
    flex-direction: column;
  }
  .jc-center-xs {
    justify-content: center;
  }
  .jc-between-xs {
    justify-content: space-between;
  }
  .jc-around-xs {
    justify-content: space-around;
  }
  .jc-evenly-xs {
    justify-content: space-evenly;
  }
  .ai-center-xs {
    align-items: center;
  }
  .ta-center-xs {
    text-align: center;
  }
  .ta-right-xs {
    text-align: right;
  }
  .ta-justify-xs {
    text-align: justify;
  }
  .flex-xs {
    display: flex;
  }
  .none-xs {
    display: none;
  }
}
.btn {
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 10rem;
}
.btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.border {
  border: 0.1rem solid rgb(0, 0, 0);
}
.bor-top {
  border-top: 0.1rem solid rgb(0, 0, 0);
}
.bor-bottom {
  border-bottom: 0.1rem solid rgb(0, 0, 0);
}
.bor-bottomwhite {
  border-bottom: 0.1rem solid white;
}

.header {
  padding: 0.5rem 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.menu2 {
  display: flex;
  align-items: center;
}
.menu2 a {
  margin: 0 0.5rem;
  padding: 1rem;
  color: w;
}
.menu2 a.content {
  padding: 1rem 2rem;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  border-radius: 50px;
}
.menu2 a.content:hover {
  background: white;
  color: #9F39DA;
  cursor: pointer;
}
.menu2 a:hover {
  background: white;
  color: #9F39DA;
  cursor: pointer;
}

#burger {
  display: none;
}

.ui {
  position: absolute;
  top: 35rem;
}

.web {
  position: absolute;
  top: 10rem;
}

.float {
  animation: float 2s linear infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.5rem);
  }
}
.project {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  padding: 2.5rem 2rem;
  border-radius: 30px;
}
.project:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.curd {
  border-radius: 30px;
}
.curd:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.submit a {
  margin-left: 1rem;
  padding: 1rem 2rem;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  color: white;
  transition: 0.5s;
  border-radius: 10rem;
}
.submit a:hover {
  background: white;
  color: #9F39DA;
}

.share {
  text-align: center;
}
.share a {
  color: white;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0.5rem;
}
.share a:hover {
  transform: scale(1.2);
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */