.img-responsive {
    width: 100%;
    object-fit: cover;
  }
  .logo {
    width: 50px;
    border-radius:50% ;
  }
  .photo{
    width: 40px;
    height: 40px;
  }
  .round{
    border-radius: 50%;
  }
  @for $i from 1 through 10 {
    .width#{$i} {
      width: $i * 1rem;
    }
  
    .height#{$i} {
      height: $i * 1rem;
    }
  }
  
  @media screen and (max-width:414px) {
    .img-responsive-xs {
      width: 40%;
      object-fit: cover;
    }
  }